@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.Navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  max-width: 1080px;
  width: 100%;
  padding: 0 17px;
}

.mid {
  display: none;
  gap: 24px;
}

.text {
  display: flex;
  height: 73px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "AppleFont", sans-serif;
  src: url(./apple_images/Inter/Inter-VariableFont_opsz\wght.ttf);
  padding: 8px;
}

.Navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 48px;
}

.Navigation-2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.end {
  display: flex;
  gap: 24px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.iphone17 {
  height: 500px;
  background-size: cover;
  background-image: var(--mobile-img);
  background-position: center;
}
/* =============================== */
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.button_lm {
  display: flex;
  height: 44px;
  padding: 0 20px;
  background-color: #0071e3;
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  color: white;
  width: fit-content;
}
.button_lm:hover {
  background-color: #3188df;
}
.button_buy {
  display: flex;
  height: 44px;
  padding: 0 20px;
  border: solid 1px #0071e3;
  background: none;
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #0071e3;
}
.button_buy:hover {
  background-color: #0071e3;
  color: white;
}
/* =============================== */

.text-item {
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border: red solid 2px; */
  font-size: 18px;
}

.text-box p {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}
.gol {
  display: flex;
  justify-content: center;
  align-items: end;
}

.text-buttons {
  display: flex;
  padding-bottom: 36px;
  gap: 12px;
}

.Learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 36px;
  border-radius: 999px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background-color: #0071e3;
  color: white;
}

.blue-Buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #2997ff;
  color: #2997ff;
  width: 66px;
  height: 36px;
  border-radius: 999px;
  padding: 8px 20px;
  font-family: "Inter", sans-serif;
}
.text-m-start {
  font-size: 18px;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 36px;
}
.text-m-end {
  font-size: 18px;
  justify-content: center;
  margin-bottom: 36px;
  margin-top: auto;
}
.gift {
  background-image: url(./img/desktop-3.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  display: none;
}
.black {
  color: black;
}
@media (min-width: 600px) {
  .iphone17 {
    background-image: var(--tablet-img);
  }
  .text-t-start {
    font-size: 22px;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 58px;
  }
  .text-t-end {
    font-size: 22px;
    justify-content: center;
    margin-bottom: 58px;
    margin-top: auto;
  }
}
@media (min-width: 900px) {
  .iphone17 {
    background-image: var(--desktop-img);
  }
  .mid {
    display: flex;
  }
  .ham {
    display: none;
  }
  .text-d-start {
    font-size: 24px;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 52px;
  }
  .text-d-end {
    font-size: 24px;
    justify-content: center;
    margin-bottom: 52px;
    margin-top: auto;
  }
  .gift {
    display: flex;
  }
}
